/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header{
    background-color: blue;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 20px;
    padding: 50px 0;
}

/* utils */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
}

/* header  */
.logo{
    color: white;
    border: 1px solid white;
    margin: 10px 0;
}

nav{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.button{
    color: white;
    border: 1px dashed white;
}

/* title container */
.title-bg{
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}

.title.container{
    background-color: green;
    min-height: 300px;
    width: 600px;
    margin: 20px auto;

}

/* main */
.white-bg{
}

.gray-bg{
    background-color: lightgray;
}

.gray-bg>.card.container{
    flex-direction: row-reverse;
}

.card.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.img{
    background-color: rgb(58, 47, 47);
    width: 60%;
    min-height: 300px;
}

.txt{
    background-color: yellow;
    width: 40%;
    min-height: 300px;
}

.download-app{
    background-color: aqua;
    width: 100%;
    min-height: 400px;
}

/* footer  */
.column{
    background-color: blueviolet;
    border: 1px dashed white;
    flex-grow: 1;
    height: 300px;
}

.column.contact{
    flex-grow: 2;
    background-color: purple;
}

.hr{
    border: 1px solid lightgray;
}