/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header{
    background-color: blue;
}

/* utils */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
}

/* header  */
.logo{
    color: white;
    border: 1px solid white;
    margin: 10px 0;
}

nav{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.accedi-button{
    color: white;
    border: 1px dashed white;
}

/* title container */
.title-bg{
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}

.title.container{
    background-color: green;
    min-height: 300px;
    width: 600px;
    margin: 20px auto;

}